/*
Copyright (C) 2010,  European Gravitational Observatory.

This file is part of OSLogbook.

OSLogbook is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA

This file was written by Gary Hemming <gary.hemming@ego-gw.it>.
*/

/* === Import container and class styles === */
@import url(div.php);
@import url(img.css);

/* === Generic HTML tag styles === */
body
{
	height: 100%;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	/*line-height: 16px;*/
	font-weight: normal;
	text-align: left;
	background: #EEEEEF;
}

/* === Body colours === */
body.white
{
	background: #FFF;
}

/* === General font === */
body, pre
{
	font-family: "Helvetica", "Verdana", "Lucida", "Arial", "Trebuchet MS", "Bitstream Vera Sans", "sans-serif";
}
span.smaller
{
		font-size: smaller;
}
/* === p === */
p.headerTxt
{
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	margin: 16px 0 0 10px;
}
p.user
{
 	position: relative;
	margin: 5px 0;
}
p.title, p.subtitle
{
	font-weight: bold;
}
p.title
{
	text-align: center;
}
.center
{
	text-align: center;
}

/*******
** a **
*****/
a, a:link, a:visited, a:link:hover, a:visited:hover
{
	color: #5FAFD9;
	text-decoration: none;
}
a:link:hover, a:visited:hover
{
	color: #92C7E8;
}

/* === a.opt === */
.opt, .opt:link, .opt:visited, .opt:link:hover, .opt:visited:hover,
.optSel, .optSel:link, .optSel:visited, .optSel:link:hover, .optSel:visited:hover
{
 	position: relative;
	float: left;
	min-width: 74px;
	width: 74px;
	min-height: 22px;
	height: 22px;
	color: #FFF;
	padding: 6px 3px 2px 3px;
	text-align: center;
	border: solid #FFF;
	border-width: 0 1px 0 0;
	background: #128534 url(../images/default-theme/dark_gradient.png) repeat-x top left;
}
.opt:link:hover, .opt:visited:hover
{
	background: #77CC91 url(../images/default-theme/lightest_gradient.png) repeat-x top left;
}
.optSel, .optSel:link, .optSel:visited, .optSel:link:hover, .optSel:visited:hover
{
	background: #73DD7C url(../images/default-theme/gradient.png) repeat-x top left;
}

/* === a.pageNo === */
.pageNo, .pageNo:link, .pageNo:visited,.pageNo:link:hover, .pageNo:visited:hover
{
 	position: relative;
 	top: 1px;
	color: #FFF;
	min-height: 14px;
	height: 14px;
	padding: 1px 3px 0 3px;
	margin: 1px 1.5px;
	min-width: 20px;
	border: 1px solid #FFF;
	background: #4C8ECE url(../images/blue_gradient.png) repeat-x top left;
}
.pageNo:link:hover, .pageNo:visited:hover
{
	background: #A0CAE5 url(../images/light_blue_gradient.png) repeat-x top left;
}

.curPageNo, .curPageNo:link, .curPageNo:visited, .curPageNo:link:hover, .curPageNo:visited:hover
{
        position: relative;
        top: 1px;
        color: #FFF;
        min-height: 14px;
        height: 14px;
        padding: 1px 3px 0 3px;
        margin: 1px 1.5px;
        min-width: 20px;
        border: 1px solid #FFF;
        background: #5294d0;
}
/************
** iframe **
**********/
iframe.iframeReport
{
	position: relative;
	width: 100%;
	background: #CCC;
}

/***********
** input **
*********/
input
{
	font-family: "Trebuchet MS", "Bitstream Vera Sans", "Verdana", "Lucida", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	border: solid 1px #E2E2E2;
}

input.login
{
	position: relative;
	float: right;
	text-align: center;
	margin: 0 0 0 2px;
}

input.radio
{
	position: relative;
	top: 2px;
	border: 0px;
}
input.reportInput
{
	position: relative;
	width: 100%;	
}
input.inputEmail
{
	position: relative;
	float: left;
	margin: 0 5px 0 0;
}
input.inputRadio
{
	position: relative;
	top: 1.5px;
}
/************
** select **
**********/
select
{
	font-family: "Trebuchet MS", "Bitstream Vera Sans", "Verdana", "Lucida", "Arial", "Helvetica", "sans-serif";
	font-size: 14px;
	border: solid 1px #E2E2E2;
	background-color: #FFFFFF;
}

/**************
** textarea **
************/
textarea
{
	border: 1px solid #E2E2E2;
}

textarea.ckeditorTA
{
 	position: relative;
	width: 100%;
	height: 300px;
}

/******************
** Button styles **
****************/
.buttonContainerRight, .buttonContainerLeft,
.buttonContainerRightHidden, .buttonContainerLeftHidden
{
	position: relative;
	float: right;
	cursor: pointer;
	font-size: 11px;
	visibility: visible;
}
.buttonContainerLeft
{
	float: left;
}
.buttonLeft
{
	float: left;
	cursor: pointer;
	height: 19px;
	margin: 0 0 0 2px;
	border: solid #C2C2C2;
	border-width: 1px 0 1px 1px;
}
.buttonRight
{
	float: left;
	cursor: pointer;
	height: 17px;
	text-align: center;
	color: #000;
	padding: 2px 10px 0 10px;
	border: solid #C2C2C2;
	border-width: 1px 1px 1px 0;
	background: url(../images/buttonBG.gif) repeat-x top left;
}


/* === table === */
.adminTable
{
	width: 100%;
}
.tdHdr
{
	width: 25%;
	min-width: 200px;
	height: 30px;
	text-align: left;
}
.tdVal
{
	width: 60%;
	text-align: left;
}
.tdBtn
{
	width: 30%;
	text-align: center;
}
.tdSearchHdr
{
	width: 20%;
	height: 30px;
	text-align: left;
}
.tdSearchVal
{
	width: 80%;
	text-align: left;
}
.tdCheckbox
{
	height: 18px;
	padding: 2px;
}

/****************
** Visibility **
**************/

/* === Hidden === */
.hidden
{
	visibility: hidden;
}
/* === Visible === */
.visible, .buttonVisible
{
	visibility: visible;
}
.buttonVisible
{
	border: 0px;
	cursor: pointer;
}

pre {
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/****************
** Links      **
**************/

.report_link
{
    background-color: white;
	float: right;
	padding: 0 5px 0 5px;
}

/****************
** Dates     **
**************/

.datePost {

}

.dateComment {
	font-size: smaller;
}